# Importing libraries

In [2]:
from statsbombpy import sb #pip install statsbombpy

import warnings
warnings.filterwarnings('ignore') # temporary

# Exploring competions

In [3]:
competitions_df = sb.competitions()

competitions_df.head()

c:\Users\Μιχαήλ\AppData\Local\Programs\Python\Python39\lib\site-packages\statsbombpy\api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2022-08-14T16:57:15.866765,2021-06-13T16:17:31.694,None,2022-08-14T16:57:15.866765
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [4]:
print('Competions dataframe columns:')
print(competitions_df.columns.tolist())

print('Competitions names:')
print(competitions_df.competition_name.unique())

# The focus of this project is La Liga, so we need the competion id
la_liga_name = 'La Liga'
la_liga_id = competitions_df.query(f'competition_name == "{la_liga_name}"')['competition_id'].iloc[0]
print(f'\nLa Liga competion_id is {la_liga_id}')

Competions dataframe columns:
['competition_id', 'season_id', 'country_name', 'competition_name', 'competition_gender', 'competition_youth', 'competition_international', 'season_name', 'match_updated', 'match_updated_360', 'match_available_360', 'match_available']
Competitions names:
['Champions League' "FA Women's Super League" 'FIFA World Cup'
 'Indian Super league' 'La Liga' 'NWSL' 'Premier League' 'UEFA Euro'
 "UEFA Women's Euro" "Women's World Cup"]

La Liga competion_id is 11

# La Liga seasons exploring

In [5]:
# We need the season_id for each la liga season
print(f'\nLa Liga competion_id is: {la_liga_id}')

seasons_id_list = []

seasons_id_list = competitions_df.query(f'competition_id == {la_liga_id}').season_id.tolist()

print(f'Total seasons of La Liga covered from StatsBomb API: {len(seasons_id_list)}')

La Liga competion_id is: 11
Total seasons of La Liga covered from StatsBomb API: 17

# Collect match data for all sesons

In [13]:
# For how many matches we have information about?
class Season_La_liga():
    def __init__(self, id, name, matches_df):
        self.id = id
        self.name = name
        self.matches_df = matches_df

        self.matches_id_list = self.matches_df.match_id.tolist()

    def inform_season_matches(self):
        print(f'Season: {self.name}, total Messi matches: {len(self.matches_df)}')

seasons_messi = []

for season in seasons_id_list:
    matches_info_df = sb.matches(competition_id=la_liga_id, season_id=season)
    
    total_season_matches = matches_info_df.shape[0]
    season_name = matches_info_df.season.iloc[0]

    seasons_messi.append(Season_La_liga(season, season_name, matches_info_df))


for messi_season in seasons_messi:
    messi_season.inform_season_matches()

Season: 2020/2021, total Messi matches: 35
Season: 2019/2020, total Messi matches: 33
Season: 2018/2019, total Messi matches: 34
Season: 2017/2018, total Messi matches: 36
Season: 2016/2017, total Messi matches: 34
Season: 2015/2016, total Messi matches: 33
Season: 2014/2015, total Messi matches: 38
Season: 2013/2014, total Messi matches: 31
Season: 2012/2013, total Messi matches: 32
Season: 2011/2012, total Messi matches: 37
Season: 2010/2011, total Messi matches: 33
Season: 2009/2010, total Messi matches: 35
Season: 2008/2009, total Messi matches: 31
Season: 2007/2008, total Messi matches: 28
Season: 2006/2007, total Messi matches: 26
Season: 2005/2006, total Messi matches: 17
Season: 2004/2005, total Messi matches: 7
[68314, 68313, 68316, 68315, 69153, 68352, 68353]

# Collecting events data

In [16]:
sb.competitions().query('country_name == "Spain"').head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
20,11,90,Spain,La Liga,male,False,False,2020/2021,2022-02-11T14:56:09.076,2022-08-16T21:50:36.812060,2022-08-16T21:50:36.812060,2022-02-11T14:56:09.076
21,11,42,Spain,La Liga,male,False,False,2019/2020,2022-07-15T23:27:24.260122,2021-06-13T16:17:31.694,None,2022-07-15T23:27:24.260122
22,11,4,Spain,La Liga,male,False,False,2018/2019,2022-08-30T23:25:57.118855,2021-07-09T14:53:22.103024,None,2022-08-30T23:25:57.118855
23,11,1,Spain,La Liga,male,False,False,2017/2018,2022-08-13T23:18:38.928566,2021-06-13T16:17:31.694,None,2022-08-13T23:18:38.928566
24,11,2,Spain,La Liga,male,False,False,2016/2017,2022-01-25T22:51:59.353598,2021-06-13T16:17:31.694,None,2022-01-25T22:51:59.353598

In [23]:
first_season_shots = sb.competition_events(
    country='Spain',
    season='2004/2005',
    division='La Liga',
    split=True
)['shots']

In [25]:
first_season_shots.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'team', 'player',
       'position', 'location', 'duration', 'related_events', 'match_id',
       'shot_statsbomb_xg', 'shot_end_location', 'shot_key_pass_id',
       'shot_technique', 'shot_body_part', 'shot_type', 'shot_outcome',
       'shot_first_time', 'shot_freeze_frame', 'possession_team_id',
       'player_id', 'shot_one_on_one', 'under_pressure', 'shot_aerial_won',
       'out', 'shot_saved_to_post', 'shot_deflected', 'shot_redirect'],
      dtype='object')

In [34]:
first_season_shots.groupby('player')['id'].count().sort_values(ascending=False)

player
Samuel Eto"o Fils                       22
Ronaldo de Assis Moreira                22
Anderson Luís de Souza                  17
Xavier Hernández Creus                  10
Rafael Márquez Álvarez                  10
Andrés Iniesta Luján                    10
Giovanni van Bronckhorst                 6
Lionel Andrés Messi Cuccittini           6
Mark Dennis González Hoffmann            5
Raúl García Escudero                     4
Juliano Haus Belletti                    4
Ludovic Giuly                            4
Antonio Pacheco D"Agosti                 4
Mauricio Roberto Pochettino Trossero     2
John Aloisi                              2
Vladimir Manchev                         2
Iván De la Peña López                    2
Maximiliano Gastón López                 2
Mario Gutiérrez Cotelo                   2
Ferrán Corominas Telechea                2
Henrik Larsson                           1
David López Moreno                       1
Antonio Álvarez Pérez                    1
Sylvio Mendes Campos Junior              1
Diego Camacho Quesada                    1
Sérgio Paulo Barbosa Valente             1
Thiago Motta                             1
Victoriano Rivas Álvaro                  1
Raúl Tamudo Montero                      1
Miguel Ángel Lozano Ayala                1
Felix Dja Ettien Yohou                   1
Oleguer Presas Renom                     1
Maximiliano Rubén Rodríguez              1
Francisco Puñal Martínez                 1
Gabriel Fernández Arenas                 1
Gaspar Gálvez Burgos                     1
José Alejandro Suárez Martín             1
Jorge Gonzalez Diaz                      1
Jofre González Mateu                     1
Óscar Serrano Rodriguez                  1
Name: id, dtype: int64

In [35]:
first_season_shots.groupby('shot_outcome')['id'].count().sort_values(ascending=False)

shot_outcome
Off T            65
Saved            36
Blocked          32
Goal             18
Post              3
Wayward           3
Saved to Post     1
Name: id, dtype: int64

# Events example

In [1]:
events_example_df = sb.events(match_id=7551)
events_example_df.head()

NameError: name 'sb' is not defined

In [16]:
events_example_df.columns

Index(['50_50', 'ball_receipt_outcome', 'ball_recovery_recovery_failure',
       'block_deflection', 'block_offensive', 'carry_end_location',
       'clearance_aerial_won', 'counterpress', 'dribble_nutmeg',
       'dribble_outcome', 'duel_outcome', 'duel_type', 'duration',
       'foul_committed_advantage', 'foul_committed_card',
       'foul_committed_offensive', 'foul_committed_type', 'foul_won_advantage',
       'foul_won_defensive', 'goalkeeper_body_part', 'goalkeeper_end_location',
       'goalkeeper_outcome', 'goalkeeper_position', 'goalkeeper_technique',
       'goalkeeper_type', 'id', 'index', 'injury_stoppage_in_chain',
       'interception_outcome', 'location', 'match_id', 'minute',
       'miscontrol_aerial_won', 'pass_aerial_won', 'pass_angle',
       'pass_assisted_shot_id', 'pass_backheel', 'pass_body_part',
       'pass_cross', 'pass_cut_back', 'pass_deflected', 'pass_end_location',
       'pass_goal_assist', 'pass_height', 'pass_length', 'pass_outcome',
       'pass_recipient', 'pass_shot_assist', 'pass_switch', 'pass_technique',
       'pass_through_ball', 'pass_type', 'period', 'play_pattern', 'player',
       'player_id', 'position', 'possession', 'possession_team',
       'possession_team_id', 'related_events', 'second', 'shot_aerial_won',
       'shot_body_part', 'shot_deflected', 'shot_end_location',
       'shot_first_time', 'shot_freeze_frame', 'shot_key_pass_id',
       'shot_one_on_one', 'shot_outcome', 'shot_statsbomb_xg',
       'shot_technique', 'shot_type', 'substitution_outcome',
       'substitution_replacement', 'tactics', 'team', 'timestamp', 'type',
       'under_pressure'],
      dtype='object')

In [29]:
events_example_df.shot_outcome.unique()

array([nan, 'Blocked', 'Saved', 'Goal', 'Off T', 'Wayward', 'Post'],
      dtype=object)